.header__lang-link{
    color: #FFFFFF;
    padding-top: 18px;
    padding-bottom: 6px;
    font-size: 24px;
    text-decoration: none;
    line-height: 28px;
    margin-right: 18px;
}
.header__lang-link:hover{
    opacity: 0.8;
}
.header__lang-link:last-child {
    margin-right: 0;
}
@media screen and (max-width: 320px){
    .header__lang-link{
        padding-top: 14px;
        padding-bottom: 8px;
        font-size: 18px;
        line-height: 20px;
    }
}

