.header__lang-link{
    color: #FFFFFF;
    padding-top: 18px;
    padding-bottom: 6px;
    font-size: 24px;
    line-height: 28px;
    
}
@media screen and (max-width: 320px){
    .header__lang-link{
        padding-top: 14px;
        padding-bottom: 8px;
        font-size: 18px;
        line-height: 20px;
    }
}
@media screen and (max-width: 768px) and (min-width: 321px){
    .header__lang-link{
        padding-top: 18px;
        padding-bottom: 6px;
    }
}
@media screen and (max-width: 1024px) and (min-width: 769px){
    .header__lang-link{
        padding-top: 18px;
        padding-bottom: 6px;
    }
}
@media screen and (max-width: 1280px) and (min-width: 1025px){
    .header__lang-link{
        padding-top: 18px;
        padding-bottom: 6px;
    }
}