.photo-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(284px, 1fr));
    grid-template-rows:auto;
    gap: 1em;
    width: 92.5%;
    max-width: 1184px;
    margin-top: 92px;
}
@media screen and (max-width: 1024px) {
    .photo-grid{
        width: calc(100% - 96px);
        margin-top: 88px;
    }
}
@media screen and (max-width: 768px) {
    .photo-grid{
        width: calc(100% - 48px);
        margin-top: 64px;
        gap: 0.75em;
    }
}
@media screen and (max-width: 320px){
    .photo-grid{
        width: calc(100% - 32px);
    }
}