.cover__subtitle{
    max-width: 360px;
    font-size: 1.125em;
    line-height: 122%;
    z-index: 1;
    text-align: center;
    grid-column: 1/1;
    grid-row: 2/2;
    color: #FFFFFF;
    align-self: start;
    justify-self: center;
    text-decoration: none;
    margin: 0;
    padding-top: 2em;
}
@media screen and (max-width: 768px) {
    .cover__subtitle{
        font-size: 18px;
        line-height: 122%;
        padding-top: 2em;
    }
}
@media screen and (max-width: 720px) {
    .cover__subtitle{
        font-size: 14px;
        line-height: 114%;
        padding-top: 1em;
        max-width: 288px;
    }
}