.header{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 28px;
  width: 90%;
}
@media screen and (max-width: 320px){
    .header{
        padding-top: 16px;
        height: 42px;
    }
}
@media screen and (max-width: 767px) and (min-width: 321px){
    .header{
    }
}
@media screen and (max-width: 1024px) and (min-width: 768px){
    .header{
    }
}
@media screen and (max-width: 1280px) and (min-width: 1025px){
    .header{
    }
}