.place__paragraph{
    font-size: 18px;
    line-height: 163%;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    margin:0;
    margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
    .place__paragraph{
        font-size: 1em;
    }
}
@media screen and (max-width: 720px) {
    .place__paragraph{
        width: 90%;
    }
}