.cover{
    width: 1184px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 1280px) {
    .cover{
        width: 100%;
        min-height: 62.5vw;
    }
}