.place__link{
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 12px;

}
@media screen and (max-width: 768px) {
    .place__link{
        width: 90%;
    }
}
.place__link:hover {
    opacity: 0.8;
}