.cover__background{
    max-width: 1184;
    max-height: max-content;
    background: url(../../../images/cover-trains.jpg);
    background-size: cover;
    grid-column: 1/1;
    grid-row: 1/3;
    min-height: 100%;
}