.place{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto;
    margin-bottom: 80px;
    gap: 0 2.5em;
    max-width: 984px;
}
@media screen and (max-width: 1024px) {
    .place{
        gap: 0 2em;
    }
}
@media screen and (max-width: 720px) {
    .place{
        width: 100%;
        grid-template-columns: 1fr;
        justify-items: center;
        margin-bottom: 50px;
        gap: 0 1.75em;
    }
}