.place__website{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
}
@media screen and (max-width: 720px) {
    .place__website{
        width: 90%;
        margin-bottom: 0;
    }
}